{% extends 'main/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}">
{% endblock %}

{% block title %} Donor - Home {% endblock %}

{% block page_title %} Home {% endblock %}

{% block content %}
    <div class="support_donor_poster_block">
        <div class="main_title_support_donor">
            <p>#supportdonor</p>
            <h1>A donor is one who gives</h1>
            <a href="">Support</a>
        </div>
        <div class="image_support_donor_poster">
            <img src="https://api2.donorsearch.org/media/main_page/banners/2023-05-19_19.37.47.jpg.330x286_q75_box-2%2C1%2C734%2C635_crop_detail_model-Banner.jpg" alt="">
        </div>
    </div>

    <div class="blood_center_needs_block">
        <h1 class="main_title_blood_center_needs_block">Blood Center Needs</h1>
        <div class="main_data_blood_center_needs">
            {% for blood_donation_center in blood_donation_centers %}
                <div class="cart_block_blood_center_needs">
                    <div class="title_cart_block">
                        <h1>{{ blood_donation_center.name }}</h1>
                        <p>{{ blood_donation_center.city }}, {{ blood_donation_center.address }}</p>
                        <div class="main_info_cart_block">
                            <div class="flexed_main_info_cart_block">
                                <div class="need_main_info_cart_block">
                                    <h1>Required</h1>
                                    <div></div>
                                </div>
                                <div class="enough_main_info_cart_block">
                                    <h1>Enough</h1>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blood_group_list_cart_block">
                        {% for blood_request in blood_donation_center.center_requests.all %}
                            <div class="cart_blood_group_block {{ blood_request.get_is_required }}">
                                {{ blood_request.blood_group }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="read_more_cart_block">
                        <a href="">Read more</a>
                    </div>
                    <div class="schedule_donation_cart_block">
                        <a href="{% url 'schedule_blood_donation' blood_donation_center.id %}">Schedule a donation</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}